<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  <div id="top_bar">
    <h4>Music App</h4>
    <% if logged_in? %>
   <h2> what's up? <%= current_user.email %></h2>
   <form action="<%= session_url %>" method="POST"> 
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Sign Out 📼">
   </form>
   <% end %>
  </div>
  
  
  
  
  </header>
    <%= yield %>
  </body>
</html>
