
<table>
    <thead>
        <tr>
            <th colspan='2'><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age</td> <td><%= Time.zone.now.year - @cat.birth_date.year %></td>
        </tr>
        <tr> <td>Color</td> <td><%= @cat.color %></td></tr>
        <tr><td>Sex</td> <td> <%= @cat.sex %> </td></tr>
           <tr> <td>Description</td> <td><%= @cat.description %></td> </tr>
        
    </tbody>

</table>
    <li><a href="<%= edit_cat_url(@cat) %>">Edit Cat</a></li>
    <li>
        <form action="<%= cat_url(@cat) %>" method="POST"> 
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Cat">
        </form>
    </li>
